[Unit]
Description=Mount unit for core, revision 11606
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core_11606.snap
Where=/snap/core/11606
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
