[Unit]
Description=Mount unit for docker, revision 1125
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/docker_1125.snap
Where=/snap/docker/1125
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
