[Unit]
Description=Mount unit for ipfs, revision 2235
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/ipfs_2235.snap
Where=/snap/ipfs/2235
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
